	<figure class="logo">
		<!--<img src="/images/logo.jpg">-->
	</figure>

	<h2 class="titulo"><%= title %></h2>
	<a href="/sesion/listaUsuarios">Usuarios registrados</a>

	<p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit .
	</p>