<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<title>E-Nutrition</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />	
	<link rel="stylesheet" type="text/css" href="/fonts/icomoon/style.css">
</head>

<body>
	<section class="encabezado">
		<h2>E-nutrition: Innovando para tu salud</h2>
	</section>

<header class="categorias">
	<input type="checkbox" id="check-nav">
    <label class="menu-icono" for="check-nav">
		<span class="icon-menu"></span>
	</label>
    <nav id="menu" class="menu">
        <ul>
            <li><a href="/"><figure><img src="../images/home.png"><figcaption>Inicio</figcaption></figure></a></li>

            <li><a href="/menu/fruta"><figure><img src="../images/frutas.png"><figcaption>Frutas</figcaption></figure></a></li>

            <li><a href="/menu/verdura"><figure><img src="../images/verduras.png"><figcaption>Verduras</figcaption></figure></a></li>
            
            <li><a href="/menu/planta"><figure><img src="../images/plantas.png"><figcaption>Plantas</figcaption></figure></a></li>

            <li><a href="/menu/cereal"><figure><img src="../images/cereales.png"><figcaption>Cereales</figcaption></figure></a></li>

            <li id="login"><a href="/sesion/ingresar">Ingresar</a></li>

            <li  id="login"><a href="/sesion/registro">Registrarse</a></li>
        </ul>
    </nav>
</header>


	<section class="main">
		<%- body %>
	</section>

</body>
</html>