* {
	margin: 0;
	padding: 0;
}

@media screen and (min-width: 961px) and (max-width: 1680px){
	html{
		padding: 0 5% 0 5%;
	}
	
	body{
		background: url('/images/bg.png');
	}


	#check-nav,.menu-icono{
		display: none;
	}

	.encabezado{
		background: #179f12;
		border-bottom: 5px solid #d6ae19;
		box-sizing:border-box;
		color: #fff;
		font-family: sans-serif;
		font-size: 2rem;
		height: 20vh;
		margin-left: 5%;
		padding: 3% 2% 0 0;
		text-align: right;
		width: 80vw;
		
	}

	.categorias{
	    box-sizing:border-box;
	    height:6vh;
	    margin:1% 5%;
	    width: 80vw;
	}

	.categorias img{
		display: none;
	}

	.menu ul li{
		background-color: #179f12;
		border-radius: 5px;
		box-sizing:border-box;
		display:block;
		float: left;
		height: 5vh;
		list-style: none;
		margin: 0 0.5% 0.5% 0.5%;
		padding-top: 0.5%;
		text-align: center;
		text-decoration: none;
		width: 12vw;
	}

	.menu #login{
		background-color: transparent;
		width: 7vw;
	}

	.menu #login a{
		color:#123456;
		display: block;
		font-family: sans-serif;
		font-size: 1rem;
		height: 100%;

		text-decoration: underline;
		width: 100%;
	}

	.menu ul li:hover{
		border-bottom: 5px solid #d6ae19;
	}

	.menu ul li a{
		color: #fff;
		font-family: sans-serif;
		font-size: 1.2rem;
		height: 5vh;
		text-decoration: none;
		width: 15vw;
	}

	.main{
		background-color: #fff;
		height: 70vh;
		margin-left: 5%;
		width: 80vw;
		border:1px solid #fff;
	}

	.main .logo{
		background-image: url('/images/logoM.jpg');
			background-image: -webkit-image-set(url('/images/logoL.jpg') 1x, 
				url('/images/logoM.jpg')1.5x,url('/images/logoH.jpg') 2x);
		float: left;
		height: 55vh;
		margin:1% 2% 1% 2%;
		text-align: center;
		width: 30%;
	}
/*
	.main .logo img{
		height: 100%;
		width: 100%;
	}*/

	.main .titulo{
		color:#0c7b9b;
		font-family: sans-serif;
		font-size: 3rem;
		margin:5% 0 5% 60%;
		text-decoration: underline;
		width: 40%;
	}

	.main .descripcion{
		color: #2d8a6f;
		font-family: sans-serif;
		font-size: 1.2rem;
		margin-left: 50%;
		margin-top: 2%;
		text-align: justify;
		width: 40%;
	}

	.main .titulo-section{
		color:#0c7b9b;
		font-family: sans-serif;
		font-size: 3rem;
		margin-left: 42%;
		text-decoration: underline;
		width: 100%;
	}

	.main #contenedor-frutas,#contenedor-verduras,#contenedor-plantas,#contenedor-cereales {
		box-sizing:border-box;
		display: flex;
		flex-wrap:wrap;
	}

	.main .frutas, .verduras, .plantas,.cereales{
		height: 30%;
		margin:2% 0 0 3%;
		text-align: center;
		width: 15%;
	}

	.main .frutas a, .verduras a, .plantas a,.cereales a{
		text-decoration: none;
		font-family: sans-serif;
		font-size: 1.5rem;
		color: #123456;
	}

	.main .frutas img, .verduras img, .plantas img, .cereales img{
		margin-top: 5%;
		height: 8rem;
		width: 7rem;
	}
}
/*Empieza el nuevo diseño para tablets
----------------------------------------
------------------------------------------
-----------------------------*/

@media screenand (min-device-width: 481px) and (max-width: 960px) {
	
	html{
		padding: 0;
	}

	body{
		box-sizing:border-box;
		overflow: hidden;
	}

	.encabezado{
		background: #179f12;
		box-sizing:border-box;
		border: 1px solid #999;
		border-radius: 5px;
		height: 10vh;
		margin: 2% 0 1% 5%;
		text-align: center;
		width: 90vw;
	}

	.encabezado h2{
		color: #fff;
		font-family: sans-serif;
		font-size: 2rem;
		margin-top: 1%;
	}

	header, nav{
	    display: block;
	}

	.categorias{
	    background: #31be5e;
	    box-sizing:border-box;
	    float:left;
	    height:75vh;
	    margin-left:5%;
	    position: relative;
	    width: 15vw;
	    z-index: 2
	}

	
	.categorias .menu figure{
		background-color:#a81322; 
		display: block;
		height: 100%;
		width: 100%;
	}

	.categorias .menu figure img{
		height: 50%;
		margin-top: 5%;
		width: 35%;
	}

	.categorias .menu figcaption{
		height: 2vh;
		color:#fff;
		font-family: sans-serif;
		font-size: 1.2rem;
		font-weight: bold
	}

	.categorias{
		display: none;
	}

	.main{
		border: 1px solid #999;
		box-sizing:border-box;
		float:right;
		height: 75vh;
		margin-right: 5%;
		overflow: hidden;
		width: 74vw;
	}

	.logo{
		height: 50%;
		margin:4% 0 2% 25%;
		text-align: center;
		width: 50%;
	}

	.logo img{
		height: 100%;
	}

	.titulo{
		color:#0c7b9b;
		font-size: 3rem;
		margin-left: 27.5%;
		text-decoration: underline;
		width: 45%;
	}

	.descripcion{
		color: #2d8a6f;
		font-family: sans-serif;
		font-size: 1.2rem;
		margin-left: 7.5%;
		margin-top: 2%;
		text-align: justify;
		width: 85%;
	}

	.main .titulo-section{
		color:#0c7b9b;
		font-size: 3em;
		text-align: center;
		text-decoration: underline;
		width: 100%;
	}

	.main #contenedor-frutas,#contenedor-verduras,#contenedor-plantas {
		box-sizing:border-box;
		display: flex;
		flex-wrap:wrap;
	}

	.main .frutas, .verduras, .plantas{
		height: 30%;
		margin:2% 0 0 3%;
		text-align: center;
		width: 15%;
	}

	.main .frutas a, .verduras a, .plantas a{
		text-decoration: none;
		font-family: sans-serif;
		font-size: 1.5rem;
		color: #123456;
	}

	.main .frutas img, .verduras img, .plantas img{
		margin-top: 5%;
		height: 8rem;
		width: 7rem;
	}
}


/*Empieza el nuevo diseño para smartphones
----------------------------------------
------------------------------------------
-----------------------------*/

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {

	html{
		margin:0;
		padding: 0;
	}

	.encabezado{
		display: none;
	}

	.main{
		height: 80vh;
		width: 90vw;
	}

	.logo{
		background-image: url('/images/logoM.jpg');
			background-image: -webkit-image-set(url('/images/logoL.jpg') 1x, 
				url('/images/logoM.jpg')1.5x,url('/images/logoH.jpg') 2x);
		height: 60%;
		margin: 5% 0 0 5%;
		text-align: center;
		width: 75%;
	}
/*
	.logo img{
		height: 90%;
		margin-right: 10%;
	}
*/

	.titulo,.titulo-section{
		color:#0c7b9b;
		font-family: sans-serif;
		font-size: 2.2rem;
		margin: 1% 0 0 10%;
		text-align: center;
		text-decoration: underline;
		width: 80%;
	}

	.descripcion{
		display: none;
	}

	.categorias{
	    background: #179f12;
	    box-sizing:border-box;
	    float:none;
	    height:10vh;
	    margin-left:0;
	    position: relative;
	    width: 100vw;
	    z-index: 2;
	}

	.categorias .menu figure img{
		display: none;
	}

	.categorias{
		background-color: #179f12;
		height: 50px;
		min-width: 280px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 4;
	}

	#check-nav{
		display: none;
	}

	#check-nav:checked ~ .menu{
		height: auto; 
	}

	.menu-icono{
		color: #fff;
		font-size: 2.2rem;
		float: right;
		margin-right: 4%;
		padding: 0;
	}

	.menu{
		clear: both;
		background-color: #33363b;
		height: 0;
		opacity: 0.9;
		overflow: hidden;
		margin-top: 32px;
		transition: all 0.9s ease;
	}

	#menu ul li{
		background: #33363b;
		border-bottom: 1px solid #fff;
		display: block;
		float: none;
		font-family: sans-serif;
	    height: 30px;
	    margin:0 0 0 0;
	    padding-top: 2%;
	    text-align: center;
	    width: 100vw;
	    z-index: 2;
	}

	#menu ul li a{
		display: block;
	    color: #fff;
	    font-size: 1.2rem;
	    text-decoration: none;
	    height: 100%;
	    width: 100%;
	  
	}

	#menu #login{ 
		box-sizing:border-box;
		border-bottom: 0;
		float: left;
		height: 30px;
		width: 50%
	}

	#menu #login:last-child{
		border-left: 1px solid #fff;
		
	}

	.main{
		margin: 20% 1% 1% 5%;
		overflow: hidden;
	}

	.main #contenedor-frutas,#contenedor-verduras,#contenedor-plantas,#contenedor-cereales {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		height: 100%;
		width: 100%;
		overflow: scroll;
		z-index: 5;
	}

	.main .frutas, .verduras, .plantas,.cereales{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		height: 35%;
		float: left;
		margin:5%;
		overflow: hidden;
		text-align: center;
		width: 40%;
	}

	.main .frutas a,.verduras a,.plantas a,.cereales a{
		text-decoration: none;
	}

	.main .frutas a figcaption,.verduras a figcaption,.plantas a figcaption,.cereales a figcaption{
		background-color: #179f12;
		border-radius: 5px;
		color: #fff;
		font-family: sans-serif;
		margin-left: 10%;
		width: 80%;
	}

	.main .frutas a:hover figcaption,.verduras a:hover figcaption,.plantas a:hover figcaption,.cereales a:hover figcaption{
		background-color: #0c7b9b;
		
	}


	.main .frutas img,.verduras img,.plantas img,.cereales img{
		height: 75%;
		width: 85%;
	}

	.main #formulario,#formulario-ingresar{
		height: 80vh;
		text-align: left;
		width: 100%;
	}

	.main #formulario div{
		margin-top:2%;
		padding: 0;
	}

	.main #formulario label{
		float: left;
		font-family: sans-serif;
		padding: 1% 0 0 2%;
		width: 35%;
	}
	.main #formulario input{
		width: 55%
	}

	.main #formulario .btn{
		height: 40px;
		margin: 5% 0 0 20%;
	}

	.main #formulario label,#formulario-ingresar label{
		font-size: 1rem;
	}

	.main #formulario input,#formulario-ingresar input{
		height: 20px;
		padding: .2em;
	}

	.main #formulario input[type="radio"]{
		text-align: right;
	}

	.main #formulario-ingresar .btn{
		height: 40px;
		margin: 5% 0 0 35%;
	}

	.main #formulario-ingresar div{
		margin: 5%;
		text-align: center;
	}

	.main #formulario-ingresar label{
		font-family: sans-serif;
		margin: 5%;
		width: 30%;
	}

	.main #formulario-ingresar input[type="text"],input[type="password"]{
		width: 70%;
	}


}








