<div>
	<label for="nombre">Usuario: </label>
	<input id="nombre" type="text" placeholder="Ejemplo: eduardo" name="usuarios[usuario]" required>
</div>

<div>
	<label for="nip">NIP: </label>
	<input id="nip" type="password" pattern="[0-9]{4}" placeholder="Formato: 9314" name="usuarios[nip]" required/>
</div>	

<div>
	<label for="correo">E-mail: </label>
	<input id="correo" type="email" placeholder="Ejemplo@algo.com" name="usuarios[correo]" >
</div>
			
<div>
	<label for="edad">Edad: </label>
	<input id="edad" type="number" placeholder="Ingrese su edad" name="usuarios[edad]" required>
</div>
		
<div>
	<label for="sexo">Sexo: </label><br>
	<input type="radio" class="radio" name="usuarios[sexo]" value="hombre" checked>Hombre
  	<input type="radio" class="radio"  name="usuarios[sexo]" value="mujer">Mujer
</div>
  		
<div>
  	<label for="peso">Peso: </label>
  	<input id="peso" type="number" placeholder="Peso actual" name="usuarios[peso]" required>
</div>
  		
<input class="btn" type="submit" value="Registrarse">