<div id="ingresar">
	<h2 class="titulo-section">Ingresar</h2>
	<form id="formulario-ingresar">
		<div>
			<label for="nombre">Usuario: </label>
			<input id="nombre" type="text" placeholder="Usuario">
		</div>

		<div>
			<label for="password">Contraseña: </label>
			<input id="password" type="password" placeholder="Contraseña">
		</div>

		<input class="btn" type="submit" value="Iniciar sesión">
	</form>

</div> 