<div id="ingresar">
	<h2 class="titulo-section">Ingresar</h2>
	<form id="formulario-ingresar" method="post" action=/login>
		<div>
			<label for="login">Usuario: </label>
			<input id="login" name="login" type="text" placeholder="Usuario" required>
		</div>

		<div>
			<label for="password">Número de Identificación Personal: </label>
			<input type="password" id="password" name="password" placeholder="NIP" required>
		</div>

		<input class="btn" type="submit" name="commit" value="Iniciar sesión">
	</form>

</div> 