<div id="perfil">

	<h2 class="titulo-section">Control</h2><br>

	<p>Hola! <%=session.user.username%><br>
	En esta sección tendás la oportunidad de llevar un control de tu peso y saber cuantos kilos has ganado o perdido :)</p>


</div>




